.downnav{
	padding-left: 0px;
	padding-right: 0px;
}

.flat{
	background-color: white;
}

.starter{
	padding-top: 60px;
	padding-left: 10px;
	color: orange;
}

.firstpg{
	background-color: #10100E;
	height: 100vh;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.abt{
	color: white;
	font-size: 18px;
}

.btn {
    border-radius: 0px;
}
.bodybg{
	background-color: #304040;
}
.clo{
	color: #19bc9c;
}
.imc{
	display: block;
    margin-left: auto;
    margin-right: auto 
}
.bid{
	color: orange;
}

.intro{
	 background: url('bg.jpg') no-repeat  center scroll;
	 height: 100vh;
	 background-color: #10100E;
}
.thirdpg{
	background: url('back.png');
	height: 100vh;
	background-color: #141d27;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.panel{
	background-color: transparent;
	border-radius: 11px;
}
.panel-primary{
	border-color: #29394A;
}

.panel-primary>.panel-heading {
    background-color: transparent;
    border-color:#29394A;
}

.rgt{
	margin-right: 17px;
}
.pad{
	padding-left: 30px;
}

.tpp{
	margin-top: 0px;
}
.secondpg{
	height: auto;
	background-color: #2c3e50;
	padding-bottom: 50px;
}

.fourthpg{
	height: auto;
	background-color: #141f2b;
}

@media screen and (max-height: 489px) {
	.fourthpg{
		height: auto;
	}
	.firstpg{
		height: auto;
	}
}
.jus{
	 text-align: justify;
     text-justify: inter-word;

}

.likefoot{
	padding-top: 25px;
	color: white;
}
.text-w{
	color: white;
}
.soc{
	margin-top: 50px;
}
.port-item{
	margin-bottom: 30px;
}
.port-item img{
	width: 330px;
}

.soc h2, h1, h3, p {
	color: white;
	font-weight: 500;
}

.modred{
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.mods{
	padding-left: 25px;
	padding-right: 25px;
}
.soc h4 {
	color: #19bc9c;
}

.siko{
	margin-right: 20px;
}
.modfoot{
	background-color: #636363;
	padding-bottom: 15px;
	font-family: monospace;
}
	
.dess{
	padding-top: 15px;
	
}

.sim{
	width: 140px;
}

.fortd{
	padding-top: 55px;
	color: white;
}

.media-body{
	color: white;
}
.sdsh{
-webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.07);
}

.titl{
	color: orange;
}
.upshad{
	-webkit-box-shadow: 2px 30px 34px 6px rgba(31,29,31,0.78);
	-moz-box-shadow: 2px 30px 34px 6px rgba(31,29,31,0.78);
	box-shadow: 2px 30px 34px 6px rgba(31,29,31,0.78);
}

.contact{
	-webkit-box-shadow: 1px 13px 0px 16px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 13px 0px 16px rgba(0,0,0,0.75);
	box-shadow: 1px 13px 0px 16px rgba(0,0,0,0.75);
}

.downshad{
	-webkit-box-shadow: 2px 16px 34px 6px rgba(31,29,31,0.78);
	-moz-box-shadow: 2px 16px 34px 6px rgba(31,29,31,0.78);
	box-shadow: 2px 16px 34px 6px rgba(31,2W,31,0.78);
}

.navs{
	position: fixed;
}
.pow{
	margin-left: 44%;
}
.fixd{
	height: 220px;
}
@media (max-width: 767px) {
  .navs{
	position: fixed;
    right: 0;
	left: 0;
	z-index: 1030;
   }
}


@media (max-width: 898px) {
  .intro{
		height: auto;
	}
	.firstpg{
		height:auto;
	}
	.secondpg{
		height: auto;
	}
	.thirdpg{
		height: auto;
	}
	.fourthpg{
		height: auto;
	}
}


.mod{
	font-family: "Courier";
	color: #85CC17;
	text-shadow: #000 0px 2px 4px;
}

.light{
	color: orange;
}

.navbar-default .navbar-nav>li>a{
	color: #BDA804;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.sayings h1{
	font-family: "Ubuntu", sans-serif;
	color: #85CC17;
	text-shadow: #000 0px 2px 4px;
	font-size: 2.5em;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1.5px;
}

.sayings{
	padding-top: 6em;

}

.sayings i{
	text-align: center;
}

.sayings a,p{
	color: #F2F8FF;
	text-align: center;
	text-decoration: none;
	font-family: "Ubuntu";
}

.tiil{
	color:#19bc9c;
}
.panel-success {
    border-color: #008280;
}

.panel-success>.panel-heading {
    color: #ffffff;
    background-color: #045857;

}
.baron{
	padding-right: 30px;
}


